<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>スコープ選択</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
        background-color: #f2f2f2;
    }
    .explanation {
        display: inline-block;
        bottom: 4em;
        height: 1.2em;
        width: 1.2em;
        border-radius: 50%;
        background: darkgrey;

        font-size: 0.4em;
        color: white;
        text-align: center;
    }
</style>
</head>
<body>
<h1>gBizConnect Node</h1>
<hr>
<h1>スコープ選択画面</h1>
<h2>申請に必要な法人データをデータ提供システムから自動取得できます。<br>自動取得する場合はデータ提供システムと法人データの種類を選択し自動取得するボタンを押してください。<br>自動取得しない場合は自動取得しないボタンを押してください。</h2>
<form action="{{scope_authenticate_url}}" method="GET" name="autogetform">
<h1>
<table>
<tr>
<td>データ提供システム：</td>
<td>
<select name="client_id" onChange="scopeSelect()">
<option value="">選択してください</option>
{% for _, authorized_server in ipairs(authorized_servers) do %}
  <option value="{{authorized_server.client_id}}">{{authorized_server.name}}</option>
{% end %}
</select>
</td>
</tr>
<tr>
<td>法人データ種類：</td>
<td>
<div id="scopes">
{% for i, authorized_server in ipairs(authorized_servers) do %}
  {% for j, scope in ipairs(authorized_server.scopes) do %}
    <label name="{{authorized_server.client_id}}" style="display: none;"><input type="checkbox" name="scope" value="{{scope.value}}">
      {{scope.name}}
      <a href=
        {% if scope.value == "certificate" then %}
          "scope-info/scope-shomeisho.html#{{scope.value}}"
        {% else %}
          "scope-info/scope-shinsei.html#{{scope.value}}"
        {% end %}
      target="_blank" rel="noopener noreferrer"><span class="explanation">?</span></a><br>
    </label>
  {% end %}
{% end %}
</div>
</td>
</tr>
</table>
<input type="hidden" name="state" value="">
<input type="button" value="自動取得する" style="background-color: #5b9bd5; color: white; font-size: xx-large;" onclick="autoget();">
</form>
<hr>
<form action="{{scope_no_authenticate_url}}" method="GET">
<input type="submit" value="自動取得しない" style="background-color: #5b9bd5; color: white; font-size: xx-large;">
</form>
</body>
</html>
<script>
function confirmChecked() {
  var isAnyChecked = false;
  var checkboxes = document.getElementsByName("scope");
  for (var i = 0; i < checkboxes.length; i++) {
    if (checkboxes.item(i).checked) {
      isAnyChecked = true;
    }
  }
  return isAnyChecked;
}
function getQueryParam(key) {
  var value = window.location.href.match(new RegExp("[?&]" + key + "=(.*?)(&|$|#)"));
  if (value == null) return '';
  return decodeURIComponent(value[1]);
}
function autoget() {
  if (!confirmChecked()) {
    alert("法人データ種類を1つ以上選択してください。");
    return;
  }
  document.autogetform.state.value = getQueryParam("state");
  document.autogetform.submit();
}

function scopeSelect() {
  var scopes = document.getElementById('scopes');
  var authorized_server = document.autogetform.client_id;
  var client_id = authorized_server.options[authorized_server.selectedIndex].value;
  var scopes_children = document.getElementById('scopes').children;
  //下の要素のうち　name が　client_id　のやつのみ　非表示にする
  for (var i = 0; i < scopes_children.length; i++) {
    if (scopes_children[i].getAttribute("name") === authorized_server.value) {
      //label
      scopes_children[i].style.display = "block";
      //input
      scopes_children[i].firstChild.disabled = false;
    } else {
      //label
      scopes_children[i].style.display = "none";
      //input
      scopes_children[i].firstChild.checked = false;
      scopes_children[i].firstChild.disabled = true;
    }
  }
}
</script>